@charset "UTF-8";

@font-face {
  font-family: Sen-Regular;
  src: url("../fonts/sen-regular.otf");
}
@font-face {
  font-family: Sen-Bold;
  src: url("../fonts/sen-bold.otf");
}
@font-face {
  font-family: Sen-Xbold;
  src: url("../fonts/sen-extrabold.otf");
}
@font-face {
  font-family: Roboto-Thin;
  src: url("../fonts/Roboto-Thin.ttf");
}

body {
  background-color: var(--background-color);
  font-family: "Sen-Regular", Helvetica, Arial, sans-serif;
  margin: 0;
}

/* creo variables para el uso recurrente de mismos valores */
:root {
  --border-radius-card: 24px;
  --header-color: #fe6960;
  --background-color: #fefac2;

  --box-shadow-pressed: inset 2px 2px 8px #d85952, inset -2px -2px 32px #ff796e;
}

#btn-menu {
  display: none; /* oculta el checkbox cuando no es necesario*/
}
.card {
  margin: 80px auto;
  max-width: 350px;
  /* box-shadow: 0 20px 20px rgba(0, 0, 0, 0.16); */

  /* uso la variable definida al inicio del archivo */
  border-radius: var(--border-radius-card);
  transition: 0.24s;
  box-shadow: 7px 7px 14px #dad7a7, -7px -7px 14px #ffffdd;
}
a {
  text-decoration: none;
  color: #1d2129;
}

.card-image {
  width: 100%;
  height: 296px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  /* aquí también uso la variable */
  border-top-left-radius: var(--border-radius-card);
  border-top-right-radius: var(--border-radius-card);
  border: none;
}

.card-block {
  padding: 24px;
  background-color: var(--background-color);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: var(--border-radius-card);
  border-bottom-left-radius: var(--border-radius-card);
}
.card-title {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: #000;
}
.card-description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 12px 0 0 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #4b4f56;
}
.card-divisor {
  margin: 16px 0 0 0;
  border: 0;
  border-top: 1px solid #e6e1b2;
}
.card-type,
.card-tag {
  margin: 16px 0 0 0;
  font-size: 12px;
  font-weight: 400;
  color: #90949c;
}
.card-type {
  display: none;
}
/* ESTILO DE FOOTER */
footer {
  height: auto;
  background-color: var(--background-color);
  color: #9c9977;
  margin: 0;
  padding: 8px 0;
  font-family: "Roboto-Thin", Helvetica, Arial, sans-serif;
}
footer div {
  margin: 0 32px;
}
footer-line {
  width: 100%;
  height: 1px;
  border: 0;
  border-top: 1px solid red;
}
header {
  margin: 0;
  width: 100%;
  z-index: 99; /* coloca el checkbox por encima del contenido*/
}
header label {
  /* coloca el checkbox en un lugar y tamaño exactos*/
  display: none;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 20px;
  top: 0px;
}
header label:hover {
  cursor: pointer; /* cambia el cursor sobre el checkbox para indicar la interacción*/
}
.sticky {
  top: 0;
  position: sticky;
  z-index: 9999;
  position: -webkit-sticky;
}
/* ESTILO DE NAVEGACIoN */

.menu {
  overflow: hidden;
  background-color: var(--header-color);
  box-shadow: 0px -5px 41px -12px rgba(0, 0, 0, 0.75);
}
.menu ul {
  list-style: none; /* para evitar los bullit list en la lista*/
  padding: 0;
  display: flex;
  margin: 0;
}
/*estilo item del menu */
.menu a {
  float: left;
  display: block;
  background-color: var(--header-color);
  color: white;
  text-align: center;
  padding: 16px;
  margin: 8px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 50px;
  background: linear-gradient(145deg, #ff7067, #e55f56);
  box-shadow: 6px 6px 16px #d85952, -6px -6px 8px #ff796e;
}
/* pasar cursor por item del menu */
.menu a:hover {
  background: #fe6960;
  box-shadow: 9px 9px 18px #d85952, -9px -9px 18px #ff796e;
}

/* clic en item del menu */
.menu a.active {
  background-color: var(--header-color);
  color: white;
  border-radius: 20px;
  box-shadow: var(--box-shadow-pressed);
}

/* icono de menu adaptativo */
.menu .icon {
  display: none;
}

/* cuando la ventana mida menos de 640px */
@media only screen and (max-width: 640px) {
  header label {
    display: block; /* se muestra el checkbox cuando se reduce la ventana*/
    margin-top: 16px;
  }
  .menu {
    position: fixed; /* sostiene la posición aunque se haga scroll en el contenido */
    background-color: var(
      --header-color
    ); /* rojo, verde, azul, alpha (transparencia) */
    z-index: 30; /* para asegurar que el menu esta por encima de todo lo demás*/
    width: 130px; /* se refiere al ancho del fondo del menu y no a los botones */
    margin-left: -60%; /* se oculta porque se coloca por fuera de la ventana*/
    margin-top: 4px;
    transition: all 1s; /* la animación de desplegar el menu dura 1 segundo*/
    top: 80px;
    border-radius: 8px;
    padding: 8px 0;
  }
  .menu ul {
    flex-direction: column; /* se despliega en sentido vertical*/
  }
  .menu a {
    padding: 14px 12px;
  }
  #btn-menu:checked ~ .menu {
    /* el checkbox controla las dos posiciones del menu */
    margin: 1px;
  }
}
